# EDA ANALYSIS - VICTOR HORCAS

#### Análisis exploratorio de datos sobre un dataset de los mejores atletas de crsosfit a nivel mundial.

Importamos todas las librerías que vamos a utilizar en este proyecto.

In [8]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

## 1. Exploración de los datos

Cargamos el dataset escogido para el análisis

In [ ]:
import kagglehub

In [15]:
crossfit = kagglehub.dataset_download("ulrikthygepedersen/crossfit-athletes")

In [18]:
crossfit_df = pd.read_csv("D:\\firstprojecteda\\data\\athletes.csv")

Previsualización de forma general de los datos

In [ ]:
# Base de datos entera
crossfit_df

In [ ]:
# 5 primeras filas
crossfit_df.head (5)

,athlete_id,name,region,team,affiliate,gender,age,height,weight,fran,...,snatch,deadlift,backsq,pullups,eat,train,background,experience,schedule,howlong
0,2554.0,Pj Ablang,South West,Double Edge,Double Edge CrossFit,Male,24.0,70.0,166.0,NaN,...,NaN,400.0,305.0,NaN,NaN,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|I r...,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|
1,3517.0,Derek Abdella,NaN,NaN,NaN,Male,42.0,70.0,190.0,NaN,...,NaN,NaN,NaN,NaN,NaN,I have a coach who determines my programming|I...,I played youth or high school level sports|,I began CrossFit with a coach (e.g. at an affi...,I do multiple workouts in a day 2x a week|,4+ years|
2,4691.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5164.0,Abo Brandon,Southern California,LAX CrossFit,LAX CrossFit,Male,40.0,67.0,NaN,211.0,...,200.0,375.0,325.0,25.0,I eat 1-3 full cheat meals per week|,I workout mostly at a CrossFit Affiliate|I hav...,I played youth or high school level sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|,4+ years|
4,5286.0,Bryce Abbey,NaN,NaN,NaN,Male,32.0,65.0,149.0,206.0,...,150.0,NaN,325.0,50.0,I eat quality foods but don't measure the amount|,I workout mostly at a CrossFit Affiliate|I inc...,I played college sports|,I began CrossFit by trying it alone (without a...,I usually only do 1 workout a day|I strictly s...,1-2 years|

Visualizamos información básica de nuestro dataset y los tipos de datos que contiene

In [21]:
crossfit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 423006 entries, 0 to 423005
Data columns (total 27 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   athlete_id  423003 non-null  float64
 1   name        331110 non-null  object
 2   region      251262 non-null  object
 3   team        155160 non-null  object
 4   affiliate   241916 non-null  object
 5   gender      331110 non-null  object
 6   age         331110 non-null  float64
 7   height      159869 non-null  float64
 8   weight      229890 non-null  float64
 9   fran        55426 non-null   float64
 10  helen       30279 non-null   float64
 11  grace       40745 non-null   float64
 12  filthy50    19359 non-null   float64
 13  fgonebad    29738 non-null   float64
 14  run400      22246 non-null   float64
 15  run5k       36097 non-null   float64
 16  candj       104435 non-null  float64
 17  snatch      97280 non-null   float64
 18  deadlift    115323 non-null  float64
 19  backsq      110517 non-null  float64
 20  pullups     50608 non-null   float64
 21  eat         93932 non-null   object
 22  train       105831 non-null  object
 23  background  98945 non-null   object
 24  experience  104936 non-null  object
 25  schedule    97875 non-null   object
 26  howlong     109206 non-null  object
dtypes: float64(16), object(11)
memory usage: 87.1+ MB

In [22]:
crossfit_df.dtypes

athlete_id    float64
name           object
region         object
team           object
affiliate      object
gender         object
age           float64
height        float64
weight        float64
fran          float64
helen         float64
grace         float64
filthy50      float64
fgonebad      float64
run400        float64
run5k         float64
candj         float64
snatch        float64
deadlift      float64
backsq        float64
pullups       float64
eat            object
train          object
background     object
experience     object
schedule       object
howlong        object
dtype: object