# EDA ANALYSIS SEGUNDA PARTE - VICTOR HORCAS

#### Análisis exploratorio de datos sobre un dataset de los mejores atletas de crossfit a nivel mundial.

#### Importamos todas las librerías que vamos a utilizar.

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

#### Cargamos el nuevo dataset limpio.

In [2]:
crossfit_df2 = pd.read_csv("D:\\firstprojecteda\\data\\clean_consolidated_athletes_information.csv")

In [3]:
crossfit_df2

,competitor_id,competitor_name,first_name,last_name,gender,country,region,age,rank,score,year,competition,height_cm,weight_kg
0,469656,Jeffrey Adler,Jeffrey,Adler,M,Canada,North America,27,1.0,101.0,2021,open,176.0,90.0
1,34796,Scott Panchik,Scott,Panchik,M,United States,North America,33,2.0,141.0,2021,open,176.0,85.0
2,105875,Travis Mead,Travis,Mead,M,United States,North America,34,3.0,165.0,2021,open,186.0,93.0
3,310970,Saxon Panchik,Saxon,Panchik,M,United States,North America,25,4.0,217.0,2021,open,176.0,82.0
4,11435,Richard Froning Jr.,Richard,Froning Jr.,M,United States,North America,33,5.0,254.0,2021,open,176.0,88.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399337,872275,Caroline Stanley,Caroline,Stanley,F,United States,North America,23,NaN,0.0,2023,games,161.0,66.0
399338,174547,Amanda Barnhart,Amanda,Barnhart,F,United States,North America,31,NaN,0.0,2023,games,171.0,73.0
399339,121033,Sydney Wells,Sydney,Wells,F,United States,North America,28,NaN,0.0,2023,games,168.0,69.0
399340,503582,Alexis Raptis,Alexis,Raptis,F,United States,North America,24,NaN,0.0,2023,games,166.0,71.0
399341,1547449,Emma Cary,Emma,Cary,F,United States,North America,19,NaN,0.0,2023,games,163.0,64.0